<div class="container-cadastro">
    <form name="userProfile" action="">

        <div>
            <label for="">Nome Completo</label>
            <input type="text" id="name">

            <label for="">Nome de Usuário</label>
            <input type="text" id="name">
        </div>

        <div>
            <label for="">Data de nascimento</label>
            <input type="date" name="dataNascimento">

            <label for="">CPF</label>
            <input type="text" name="cpf">

        </div>

        <div>

            <label for="">Sexo</label>
            <div  id="radios-buttons">
                <input type="radio" name="sexo" value="masc" id="">
                <label for="">Masculino</label>
                <input type="radio" name="sexo" value="fem" id="">
                <label for="">Feminino</label>
                <input type="radio" name="sexo" value="nenhum" id="">
                <label for="">Prefiro não dizer</label>
                <span></span>
            </div>

            <label for="">Telefone</label>
            <input type="tel" name="telefone">

        </div>


        <button class="btnUserProfile">Salvar Informações</button>


    </form>


</div>