<div class="container-endereco">
    <div id="formEnde">

        <form method="post" action="/userProfile/addAdress">
            <label for="cep">CEP</label>
            <input id="cep" type="text" name="cep" placeholder="Digite o CEP aqui" />
        
            <label for="street">Rua</label>
            <input id="street" type="text" name="rua" placeholder="Digite a rua aqui" />

            <label for="number">Número</label>
            <input id="number" type="text" name="numero" placeholder="Digite a rua aqui" />

            <label for="complemento">Complemento</label>
            <input id="complemento" type="text" name="complemento" placeholder="Digite a rua aqui" />
        
            <label for="neighborhood">Bairro</label>
            <input id="neighborhood" type="text" name="bairro" placeholder="Digite o bairro aqui" />
        
            <label for="city">Cidade</label>
            <input id="city" type="text" name="cidade" placeholder="Digite a cidade aqui" />
        
            <label for="state">Estado</label>
            <input id="state" type="text" name="estado" placeholder="Digite o estado aqui" />
        
            <button class="btnUserProfile">Adicionar endereço</button>
        </form>
        <button class="btnUserProfile" id="cancelarEndereco">Cancelar</button>
    </div>
<div class="div-meus-enderecos">
    <h1>Lista de endereços</h1>
    <div class="enderecos">
        <!--Aqui lista de endereços onde posso editar ou excluir um endereço-->
        <div class="spanEndereco">
            <div>
                <span>Rua</span>
                <span>Numero</span>

            </div>
            <div>

                <span>Bairro</span>
                <span>Cidade Estado</span>
            </div>
            <span>CEP</span>
        </div>
        <div>
            <button id="editar">Editar</button>
            <button >Excluir</button>
            

        </div>
    </div>
 
</div>
</div>