<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TradeBooks</title>
    <link rel="shortcut icon" href="/images/log.ico" type="image/x-icon" />

    <link rel="stylesheet" href="../stylesheets/style-nav-footer.css">
    <link rel="stylesheet" href="../stylesheets/style-pageCart.css">
    
</head>

<body>
   <header>
      <nav>
         <a href="/">

            <img src="../images/logo.png" alt="" class="logo">
         </a>
      </nav>
   </header>

   <main>

    <section>
        <table class="tableTitle">
            <tr>
                <th>Produto</th>
                <th>Entrega</th>
                <th>Preço</th>
                <th>Quantidade</th>
                <th>Total</th>
                <th>Excluir</th>
            </tr>
        </table>
        <table class="tabela-cart">
            
        </table>

    </section>

    <aside>

    </aside>

   </main>




   <footer>

   </footer>
</body>
    <script src="../javascripts/pageCart.js"></script>
    
</html>