<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TradeBooks</title>
    <link rel="shortcut icon" href="/images/log.ico" type="image/x-icon" />

    <link rel="stylesheet" href="../stylesheets/style-myStore-formProduct.css">
    
</head>

<body>
   <header>
      <nav>
         <a href="/">

            <img src="../images/logo.png" alt="" class="logo">
         </a>
      </nav>
   </header>

   <main>

    <section>
        <thead>
            <tr>
                <th>Produto</th>
                <th>Entrega</th>
                <th>Preço</th>
                <th>Quantidade</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>

    </section>

    <aside>

    </aside>

   </main>




   <footer>

   </footer>
</body>

</html>