* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  
  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    font-size: 18px;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
  
    width: 110px;
    height: 110px;
  
  }
  ul{
    list-style: none;
    margin: 10px 10px;
  }
  nav{
    display: flex;
       
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;
    height: auto;
    width: 100%;
  }
  main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    height: auto;

    margin: 10px 10px;
  }
  aside{


    width: 20%;
    height: auto;
    box-shadow: #23232e 0px 1px 4px 0px;
  }
  .container{
    width: 80%;
    height: auto;
    box-shadow: #23232e 0px 1px 4px 0px;
  }

  footer{
    background: #23232e;
    height: 100px;
    width: 100%;
  }

  img{
    display: flex;
    flex-direction: column;
    height: 140px;
    width: 105px;
  }
  .images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;

  }
  .images figcaption{
    font-size: 13px;
  }