
.formProduct{
    display: flex;
    flex-direction: column;
}
.containerDivs{
    display: flex;
    flex-direction: row;
}
.containerInputLabel{
    display: flex;
    flex-direction: column;
}

label{

        margin-top: 25px;
        padding: 5px;
        font-family: 'Ropa Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        color: #0D203B;
    
}

input, select {
    flex: 1;
    font-size: 15px;
    padding: 5px;
    outline: 0;
    font-family: 'Ropa Sans';
    font-style: normal;
    font-weight: 400;
    color: #0D203B;
}
