.container-endereco {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    height: auto;

   
    margin: 10px;

}

#formEnde {
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;
    margin: 0 30px;
    border: 1px #1C98ED solid;
    box-shadow: #1C98ED 0px 1px 4px 0px;
}
.container-enderecos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}
.div-meus-enderecos {
    display: flex;
    flex-direction: column;

    flex-wrap: wrap;

}
.div-meus-enderecos h1{
    text-align: center;
    padding: 10px 0;
}

.enderecos {
    
    display: flex;
    flex-direction: column;
    
    width: 44%;

    gap: 10px;
    margin: 10px;
    
    border: 1px #1C98ED solid;
    box-shadow: #1C98ED 0px 1px 4px 0px;

}
.enderecos .button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
   
}

.spanEndereco{
    display: flex;
    flex-direction: column;

    padding:7px 10px;
    gap: 5px;
    font-size: 16px;
}